<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div style="font-family: 'Poppins'; display: flex; flex-direction: column; max-width: 600px; text-align: center"> <!-- COPY NYA DARI SINI NDO -->
      <div style="width: 100%; display: flex; justify-content: start;">
        <img src="img/logo/logo_pixavault_black.png" alt="">
      </div>
      <div style="display: flex; flex-direction: column; align-items: center; gap: 35px;">
        <img src="img/illustration/Confirmed-bro 2.png" width="378px" alt="illustration">
        <div style="display: flex; flex-direction: column; gap: 20px;">
            <h3 style="font-size: 40px; font-weight: 700; margin: 0;">Verify your email</h3>
            <p style="font-size: 20px; font-weight: 500; color: #7F7F7F; font-weight: 400; margin: 0;">Hi User! Use the link below to verify your email and start enjoying Pixavault.</p>
        </div>
        <button style="background-color: #000; width: 100%; padding: 18px 0; color: #fff; font-family: 'Poppins'; font-weight: 500; font-size: 24px; border-radius: 8px;">Get Verify Email</button>
        <div style="display: flex; flex-direction: column; gap: 15px;">
          <hr style="margin: 0;">
          <p style="color: #7F7F7F; word-break: break-all; margin: 0;">If you're having trouble clicking the "Verify email address" button, copy and paste the URL below into your web browser: <a href="http://127.0.0.1:8000verifyemail/1e7b4ecbf686a44c2da52dea435c0cdb8225a7836expires=1738640071&signature=835d3eb90d7385cef19f73078ea3fa62062a022fee1c80db1e6fd5ac29685330">http://127.0.0.1:8000verifyemail/1e7b4ecbf686a44c2da52dea435c0cdb8225a7836expires=1738640071&signature=835d3eb90d7385cef19f73078ea3fa62062a022fee1c80db1e6fd5ac29685330</a></p>
        </div>
      </div>
    </div> <!-- SAMPE SINI -->
  </div>
</body>
</html>