.card {
    width: 520px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    @media (max-width: 576px) {
        width: 100%;
        padding: 15px;
    }

    @media (max-width: 375px) {
        padding: 10px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

h3 {
    font-size: 16px;
    color: gray;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

.dropdown {
    background: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-banner {
    padding: 0 144px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-bottom: 30px;

    @media (max-width: 1200px) {
        margin-top: 180px;
    }

    @media (max-width: 992px) {
        padding: 0 100px;
    }

    @media (max-width: 768px) {
        padding: 0 36px;
    }

    @media (max-width: 576px) {
        align-items: start;
        padding: 0 24px;
    }

    button {
        font-family: 'Poppins';
    }


    .profile-detail {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: 992px) {
            gap: 38px;
        }

        @media (max-width: 768px) {
            gap: 36px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: start !important;
            gap: 28px;
        }

        .preview-image-container {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 90px;
            height: 90px;
            overflow: hidden;
            outline: 3px solid #7f7f7f;
            border-radius: 50%;

            @media (max-width: 768px) {
                width: 72px;
                height: 72px;
            }

            .preview-image {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                border-radius: 50%;
                display: block;
            }
        }

        .profile-info {
            display: flex;
            flex-direction: column;

            .profile-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                @media (max-width: 375px) {
                    gap: 15px;
                    justify-content: unset;
                }

                h3 {
                    font-size: 40px;
                    font-weight: bold;
                    color: #000;

                    @media (max-width: 992px) {
                        font-size: 30px;
                    }

                    @media (max-width: 768px) {
                        font-size: 24px;
                    }

                }

                .profile-actions {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    div {
                        gap: 10px;
                    }

                    .btn-follow {
                        background-color: #BCFF00;
                        color: #000;
                        border: none;
                        border-radius: 8px;
                        padding: 6px 16px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;

                        &:hover {
                            background-color: #CFFF00;
                        }
                    }

                    .btn-followed {
                        background-color: #D9D9D9;
                        color: #000;
                        border: none;
                        border-radius: 8px;
                        padding: 6px 16px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;

                        &:hover {
                            background-color: #7F7F7F;
                        }
                    }

                    .btn-options {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 44px;
                        height: 34px;
                        background-color: transparent;
                        border: 1px solid #7F7F7F;
                        border-radius: 8px;
                        cursor: pointer;

                        img {
                            height: 5px;
                        }
                    }

                    .btn-edit-profile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        border: 1px solid #7F7F7F;
                        border-radius: 8px;
                        cursor: pointer;
                        padding: 5px 18px;
                        gap: 6px;
                        transition: background-color 0.3s ease;

                        @media (max-width: 768px) {
                            font-size: 12px;
                            padding: 4px 8px;

                            img {
                                width: 16px;
                            }
                        }

                        @media (max-width: 375px) {
                            img {
                                display: none;
                            }
                        }

                        &:hover {
                            background-color: #d9d9d9;
                        }
                    }

                    .btn-report {
                        background-color: #fff;
                        color: #FF4D4D;
                        border: 1px solid #FF4D4D;
                        border-radius: 8px;
                        padding: 6px 18px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;
                        margin-top: 10px;
                        display: none;
                    }
                }
            }

            .profile-email {
                font-size: 16px;
                margin-top: 5px;

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }

            .profile-bio {
                font-size: 16px;
                color: #7F7F7F;
                margin-top: 10px;
                line-height: 1.5;

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }
}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    padding: 0 144px;

    @media (max-width: 992px) {
        padding: 0 100px;
        gap: 42px;
    }

    @media (max-width: 768px) {
        padding: 0 36px;
        gap: 36px;
    }

    @media (max-width: 576px) {
        padding: 0 24px;
        gap: 24px;
    }

    .profile-tab-nav {
        display: flex;
        gap: 40px;
        position: relative;

        @media (max-width: 576px) {
            gap: 24px;
            justify-content: space-around;
        }

        @media (max-width: 375px) {
            gap: 12px;
            justify-content: space-between;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 2px solid #D9D9D9;
        }

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            font-family: 'Poppins';
            gap: 10px;
            padding: 11px 0;
            cursor: pointer;
            z-index: 1;
            color: #7F7F7F;

            @media (max-width: 576px) {
                img {
                    width: 20px;
                }
            }

            img {
                filter: brightness(0) saturate(100%) invert(66%) sepia(0%) saturate(7492%) hue-rotate(110deg) brightness(77%) contrast(79%);
            }

            &:hover {
                color: black;

                img {
                    filter: none;
                }
            }
        }

        .tab-btn.active {
            color: black;
            border-bottom: 2px solid black;

            img {
                filter: none;
            }
        }

    }

    .tab-content {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        min-height: 70vh;

        p {
            font-weight: bold;

            &.mil-card-title {
                font-size: 1rem;
                color: white;

                span {
                    color: #d9d9d9;
                    font-weight: 400;
                }
            }

            &.mil-card-subtitle {
                font-size: 1.5rem;
                font-weight: 500;
                transform: translate(8px, -8px);
            }
        }

        .unavailable {
            height: 60vh;
            justify-content: center;
            gap: 20px;

            @media (max-width: 1200px) {
                height: 40vh;
            }

            @media (max-width: 992px) {
                height: 30vh;

                img {
                    height: 100px;
                    width: 100px;
                }
            }

            @media (max-width: 768px) {

                img {
                    height: 72px;
                    width: 72px;
                }
            }

            h3 {
                font-size: 40px;
                text-align: center;

                @media (max-width: 992px) {
                    font-size: 30px;
                }

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }
        }

    }

    .tab-content-stats {
        display: flex !important;
        flex-direction: column;
        gap: 25px;

        .tab-content-stats-diagram {
            gap: 25px;
        }

        .badge-card {
            display: flex;
            flex-direction: column;
            gap: 50px;

            @media (max-width: 576px) {
                gap: 25px;
            }

            &>* {
                color: black;
            }

            .badge-card-header {
                display: flex;
                align-items: center;
                gap: 18px;
                color: black;

                p {
                    font-size: 20px;
                    font-weight: 600;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #D9D9D9;
                    border-radius: 100px;
                    height: 34px;
                    width: 34px;
                }
            }

            .badge-card-achievements {
                display: flex;
                gap: 30px;
                color: black;

                @media (max-width: 375px) {
                    flex-direction: column;
                }

                .badge-card-achievements-icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;


                    p {
                        font-family: 'Poppins';
                        font-size: 20px;
                        font-weight: 700;

                        @media (max-width: 576px) {
                            font-size: 16px;
                        }

                        @media (max-width: 375px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .dropdown {
            border-radius: 100px;
            padding: 10px 20px;
            color: #615E83;
            padding-right: 30px;
            /* Jarak untuk icon arrow */
            appearance: none;
            /* Menghilangkan default arrow */
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDExIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjA0MTY1IDAuNTU3MDMzQzAuODAwMjQ0IDAuNzk4NDQxIDAuODAwMjQ0IDEuMTg5ODQgMS4wNDE2NSAxLjQzMTI1TDUuMjQ5NjMgNS42MzkyM0M1LjI1Mzc1IDUuNjQzNTkgNS4yNTc5NSA1LjY0NzkxIDUuMjYyMjIgNS42NTIxOUM1LjM4Mjk3IDUuNzcyOTQgNS41NDEyNSA1LjgzMzI5IDUuNjk5NTIgNS44MzMyNEM1Ljg1Nzc4IDUuODMzMjkgNi4wMTYwNiA1Ljc3Mjk0IDYuMTM2ODEgNS42NTIxOUM2LjE0MTA4IDUuNjQ3OTEgNi4xNDUyOCA1LjY0MzU5IDYuMTQ5NCA1LjYzOTIzTDEwLjM1NzQgMS40MzEyNUMxMC41OTg4IDEuMTg5ODQgMTAuNTk4OCAwLjc5ODQ0MSAxMC4zNTc0IDAuNTU3MDMzQzEwLjExNiAwLjMxNTYyNSA5LjcyNDU3IDAuMzE1NjI1IDkuNDgzMTYgMC41NTcwMzNMNS42OTk1MSA0LjM0MDY4TDEuOTE1ODcgMC41NTcwMzNDMS42NzQ0NiAwLjMxNTYyNSAxLjI4MzA2IDAuMzE1NjI1IDEuMDQxNjUgMC41NTcwMzNaIiBmaWxsPSIjNjE1RTgzIi8+PC9zdmc+') no-repeat right 10px center;
            background-size: 16px;
            background-color: #D9D9D9;
            outline: none;
            border: none;
        }

        .dropdown.open {
            background: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3573 5.65195C10.5987 5.41054 10.5987 5.01914 10.3573 4.77774L6.14929 0.569756C6.14517 0.565391 6.14098 0.561071 6.1367 0.556798C6.01595 0.436047 5.85767 0.375695 5.69941 0.375742C5.54115 0.375695 5.38287 0.436048 5.26212 0.556798C5.25785 0.56107 5.25365 0.565391 5.24953 0.569756L1.04155 4.77774C0.80014 5.01914 0.80014 5.41054 1.04155 5.65195C1.28296 5.89336 1.67436 5.89336 1.91576 5.65195L5.69941 1.8683L9.48306 5.65195C9.72447 5.89336 10.1159 5.89336 10.3573 5.65195Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat right 10px center;
            background-size: 16px;
            background-color: #7F7F7F;
            color: white;
        }

        .tab-content-stats-dropdown {
            font-family: 'Poppins';
            font-size: 14px;

            option {
                cursor: pointer;
            }
        }
    }

    .tab-content.active {
        display: block;
        opacity: 1;
    }
}

.tag-editable {
    display: inline-flex;
    align-items: center;
    background: #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 3px;
}

.tag-editable .remove-tag {
    background: none;
    border: none !important;
    font-weight: bold;
    margin-left: 3px;
    cursor: pointer;
    padding: 0px 5px !important;

    &:hover {
        color: red !important;
    }
}

.add-tag-btn {
    background: #d1e7dd;
    border: none !important;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}